* {
	font-family: sans-serif;
	box-sizing: border-box;
}

.cube {
	display: inline-block;
	width: 100px;
	height: 100px;
	background: #999;
	border: 2px solid black;
	font-size: 77px;
	line-height: 90px;
	text-align: center;
	cursor: pointer;
}

#container {
	display: inline-block;
	margin: auto;
	position: relative;
}

.main {
	width: 320px;
	margin: auto;
}

#newgame {
	position: absolute;
	top: 5px;
	display: block;
	width: 300px;
	margin: auto;
}
