* {
	font-family: sans-serif;
	box-sizing: border-box;
}

.cube {
display: inline;
width: 100px;
height: 100px;
background: #999;
border: 1px solid green;

#container {
height: 320px;
width: 320px;
border: 1px dotted red;
}
